/*  
Colors used

Text Color (Dark Gray): #2b2b2b;
Primary Color (Purple): #357b70;
Secondary Color (Orange): #e0b354;

h1 font-family: 'DM Serif Display', serif;
h2 font-family: 'DM Serif Text', serif;
The rest font-family: 'DM Sans', sans-serif; (400, 700)

/* As hex codes */ 

/*

Text Colour (White) color: #fff
Link and Nav Color (Pink) color: #D83F87
.color-primary-1 { color: #2A1B3D } purple
.color-primary-2 { color: #44318D } blue
.color-primary-3 { color: #8265A7 } lilac
.color-primary-4 { color: #A4B3B6 } green

*/

* {
    box-sizing: border-box;
}

body {
    background-color: #44318D;
    font-family: 'DM Sans', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
}

/*Question, better to target nav, a, or class here? */

nav {
    color: #D83F87;
}

h1 {
    font-family: 'DM Serif Display', serif;
    color: #D83F87;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.6;
}

a {
    color: #D83F87;
}

a:visited {
    color: #8265A7;
}

a:hover, a:focus {
    text-decoration: none;
    color: #fff;
}

a:active {
    background-color: #D83F87;
    color: #D83F87;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.navigation-list__item--active {
    background-color: #8265A7;
    color: #D83F87;
}

.navigation-list__item--active:hover {
    background-color: #D83F87;
}

.table__header {
    color: #D83F87;
}

.contact-information {
    color: #fff;
}

.contact-information:visited {
    color: #fff;
}

.standard-label {
    color: #D83F87;
}

button {
    border: none;
    font-family: inherit;
    background-color: #8265A7;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  }

  button:hover, button:focus {
    cursor: pointer;
    opacity: 0.8;
  }

  .button__secondary {
    background-color: #D83F87;
    color: #fff;
  }

.profile {
    max-width: 700px;
    margin: 0 auto;
}

.profile__portrait {
    width: 250px;
    float: left;
    margin-right: 40px;
    border-radius: 50%;
}

.page-header {
    width: 100%;
    display: flex;
    padding: 20px;
}

.page-header__item {
    flex: 0 1 200px;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 15px;
}

.grid__item {
    background-color: lightgrey;
}

/*




a {
    color: #8265A7;
  }

a:visited {
    color: #fff;
}

a:hover, a:focus {
    text-decoration: none;
    color: #fff;
}

a:active {
    color: #D83F87;
}

.navigation-list__item:visited {
    color: #D83F87;
}

.navigation-list__item:hover {
    color: #fff;
}

.navigation-list__item--active:hover {
    color: #fff;
}

.contact-information {
    color: #8265A7;
}

*/



 



  