/* 
FONT FAMILY

h1 font-family: 'DM Serif Display', serif;
h2 font-family: 'DM Serif Text', serif;
The rest font-family: 'DM Sans', sans-serif; (400, 700)

COLORS AS HEX

Background Grey { color: #646464 }
Lightest Grey { color: #c2c1c1 }
Lighter Grey { color: #868686 }
Darker Grey { color: #464646 }
Dark Grey { color: #222222 }
Pink { color: #ffaed4;}


TEMP

color: 

var(--secondary-line-height);

  */

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< FONTS & COLORS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

:root {
    --background-grey-color: #646464;
    --lighter-grey-color: #868686;
    --lightest-grey-color: #c2c1c1;
    --darker-grey-color: #464646;
    --darkest-grey-color: #222;
    --primary-pink-color: #ffaed4;

    --primary-font-weight: 400;
    --primary-line-height: 1;
    --secondary-line-height: 0.5;
  }
  

body,
p,
a,
div,
section,
footer,
label,
button,
header,
ul,
li,
h1,
h2,
h3,
h4 {
    font-family: 'DM Sans', sans-serif;
    color: var(--darkest-grey-color);
    font-weight: var(--primary-font-weight);
    font-size: 14px;
    line-height: 1.2;
}

body {
    background-color: var(--background-grey-color);
}

h1,
h2,
h3,
h4 {
    font-family: 'DM Serif Display', serif;
    color: var(--darkest-grey-color);
}

/*h1,
.heading--massive-dark,
.heading--massive-light {
    color: var(--darkest-grey-color);
    font-size: 600px;
    font-weight: var(--primary-font-weight);
    line-height: 0.34;
    margin: 0;
    padding: 0;
}*/

/* NEW H1 */

h1,
.heading--h1-dark,
.heading--h1-light {
    color: var(--darkest-grey-color);
    font-size: 100px;
    font-weight: var(--primary-font-weight);
    line-height: var(--primary-line-height);
    margin: 0;
    padding: 0;
}

.heading--massive-light {
    color: var(--darker-grey-color);
}

.heading--large-dark,
.heading--large-light {
    font-size: 42px;
    font-weight: var(--primary-font-weight);
    line-height: var(--primary-line-height);
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.heading--large-light {
    color: var(--darker-grey-color);
}

.heading--medium-dark,
.heading--medium-light {
    font-size: 30px;
    font-weight: var(--primary-font-weight);
    line-height: var(--primary-line-height);
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.heading--medium-light {
    color: var(--darker-grey-color);
}

.heading--small-dark,
.heading--small-light {
    font-size: 24px;
    font-weight: var(--primary-font-weight);
    line-height: var(--primary-line-height);
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.heading--small-light {
    color: var(--darker-grey-color);
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< LINKS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

a:link,
.link--dark,
.link--light,
.link__contact--dark,
.link__contact--light {
    text-decoration: none;
    background-color: var(--lightest-grey-color);
    line-height: var(--secondary-line-height);
}

a.link--light,
a.link__contact--light {
    text-decoration: none;
    background-color: var(--darkest-grey-color);
    line-height: var(--secondary-line-height);
    color: var(--lightest-grey-color);
}

a:visited {
    color: var(--darkest-grey-color);
}

a.link--light:visited,
a.link__contact--light:visited {
    color: var(--lightest-grey-color);
}

a:hover,
a:focus,
.link--dark:hover,
.link--dark:focus,
.link__contact--dark:hover,
.link__contact--dark:focus {
    color: var(--darkest-grey-color);
    background-color: var(--darkest-grey-color);

}

a.link--light:hover,
a.link__contact--light:hover {
    color: var(--lightest-grey-color);
    background-color: var(--lightest-grey-color);

}

a:active,
.link--dark:active,
a.link--light:active,
.link__contact--dark:active,
a.link__contact--light:active {
    background-color: var(--primary-pink-color);
    color: var(--primary-pink-color);
}

button,
a.btn--light,
a.btn--dark,
input.btn--dark {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: var(--lightest-grey-color);
    color: var(--darkest-grey-color);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: opacity 1s;
    margin: 5px;
}

a.btn--light {
    background-color: var(--darkest-grey-color);
    color: var(--lightest-grey-color);
}

button:hover, 
button:focus,
a.btn--dark:hover, 
a.btn--dark:focus,
a.btn--light:hover, 
a.btn--light:focus,
input.btn--dark:hover,
input.btn--dark:focus {
  cursor: pointer;
  opacity: 0.5;
}



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> LINKS END <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.text--dark,
.text--light,
.text--pink {
    background-color: var(--lightest-grey-color);
    font-weight: var(--primary-font-weight);
    line-height: var(--primary-line-height);
    margin: 0;
    padding: 5px;
}

.text--light {
    color: var(--lightest-grey-color);
    background-color: var(--darkest-grey-color);
}

.text--pink {
    background-color: var(--primary-pink-color);
}

.grid__item {
    background-color: var(--lightest-grey-color);
}

ul {
    list-style-type: none;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> FONTS & COLORS END <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< GRID PROJECTS LIST >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< GRID FALLBACK >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.grid__item {
    display: inline-block;
    width: 33%;
   }

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> GRIDS FALLBACK END <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 15px;
}

.grid__item {
    background-color: var(--lightest-grey-color);
    width: auto;
    min-height: auto;
    margin: 0;
    border-radius: 0.5%;
}

.grid__item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> GRID PROJECTS LIST END <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< ALL POSITIONING >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

* {
    box-sizing: border-box;
}

.page-title {
    z-index: -1;
    word-wrap: break-word;
    margin-top: 100px;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< HEADER POSITIONING >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.page-header {
    display: flex;
    width: 100%;
    max-width: 1600px;
    margin: auto;
    padding: 20px;
}

.page-header__item {
    flex: 0 1 200px;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

header img {
    width: 100px;
    height: 50px;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> HEADER POSITIONING END <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */


.section-main {
    width: 100%;
    max-width: 100%;
    height: auto;
    z-index: 1;
    margin-top: 100px;
}

.section-main__content {
    width: 100%;
    max-width: 50%;
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    align-items: center;
    padding: 0 0 0 0;
    position: relative;
}

.section-main__content--column {

    flex-direction: column;
    max-width: 500px;
    margin: auto;

}

.profile__portrait {
    max-width: 50%;
    height: auto;
    border-radius: 50%;
    margin: 0 25px;
}

.home--copy {
    max-width: 50%;
    min-width: 265px;
    height: auto;
}

form {
    background-color: var(--primary-pink-color);
    font-weight: var(--primary-font-weight);
    line-height: var(--primary-line-height);
    margin: 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input,
textarea {
    border: none;
    background-color: var(--lightest-grey-color);
}

::-webkit-resizer {
    display: none;
  }

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 150px 0 0 0;
    background-color: var(--background-grey-color);
}

 a.social-media__item:link {
    background-color: var(--background-grey-color);
}

a.social-media__item:visited {
    background-color: var(--background-grey-color);
}

a.social-media__item:hover, 
a.social-media__item:focus {
    background-color: var(--background-grey-color);
}

img.social-media__item {
    width: 50px;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> ALL POSITIONING END <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< ANIMATION >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@keyframes color-change {
    0% {
      fill: #edc655;
    }
    50% {
      fill: #fcffad;
    }
    100% {
      fill: #f76414;
    }
  }

  .sun {
    animation: 4s color-change infinite alternate linear;
  }

  @keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }

    to {
        transform: translate(200px, 50px);
    }
  }

  .cloud-front {
    animation: 30s cloud-move infinite alternate linear;
  }

@keyframes cloud-move-reverse {
    from {
        transform: translate(450px, 40px);
    }
    to {
        transform: translate(100px, 40px);
    }
}

.cloud-back {
    animation: 40s cloud-move-reverse infinite alternate linear;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> ANIMATION END <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< MEDIA QUERIES >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media all and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
}
    .heading--h1-light {
        font-size: 50px;
    }

}

@media all and (min-width: 501px) and (max-width: 800px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 800px) {
    .grid {
        grid-gap: 10px;
    }

    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    h1 {
        font-size: 75px;
    }
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> MEDIA QUERIES END <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */